.scrolling-text {
    font-size: calc(200vh); /* Passt die Schriftgröße an die Höhe des Viewports an */
    font-weight: bold;
    color: red;
    white-space: nowrap;
    display: inline-block;
    animation: scroll-text 500s linear infinite; /* Verlängert die Animation auf 300 Sekunden */
  }
  
  @keyframes scroll-text {
    0% {
      transform: translateX(0); /* Startet sofort im sichtbaren Bereich */
    }
    100% {
      transform: translateX(-100%); /* Läuft über den gesamten Bildschirm */
    }
  }
  