@font-face {
  font-family: 'CustomFont';
  src: url('/public/Diamons.ttf') format('truetype');
}

.page4-container {
  font-family: Arial, sans-serif;
  padding: 20px;
  max-width: 100%;
  max-height: 100vh; /* Setzt die maximale Höhe auf die Viewport-Höhe */
  overflow-y: auto; /* Ermöglicht vertikales Scrollen */
  overflow-x: hidden; /* Verhindert horizontales Scrollen */
  -webkit-overflow-scrolling: touch; /* Für sanftes Scrolling auf iOS */
}

.page4-container::-webkit-scrollbar {
  width: 8px; /* Breite des vertikalen Scrollbars */
}

.page4-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Farbe des Scrollbar-Daumens */
  border-radius: 4px; /* Abgerundete Ecken */
}

.page4-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Dunklere Farbe bei Hover */
}

h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.8rem;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f8f8f8;
}

.clickable-row {
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 10px;
  overflow: hidden;
}

.clickable-row:hover {
  background-color: #ff0000;
  color: #ffffff;
  cursor: pointer;
}

.hover-title {
  font-family: 'CustomFont';
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 10rem;
  color: red;
  opacity: 0;
  white-space: pre-wrap;
  pointer-events: none;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.hover-title.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}

.hover-title span {
  display: inline-block;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

table tr:hover {
  background-color: #ff6666;
  color: #ffffff;
}

table tr:hover td {
  border-radius: 10px;
}

td:first-child, th:first-child {
  text-align: center;
}

@media (max-width: 768px) {
  table, th, td {
      font-size: 0.7rem;
      padding: 8px;
  }
}
